@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

   <div class="app">
      <main class="main-content">
          @Body
      </main>
    </div>
</div>
