@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <div class="min-h-screen bg-white">

        <!-- WELCOME SCREEN PLACE -->
        <div id="welcome-placeholder"></div>

        <!-- HELP BUTTON PLACE -->
        <div id="help-placeholder"></div>

        <!-- NAVBAR PLACE -->
        <div id="navbar-placeholder"></div>

        <!-- PAGE CONTENT -->
        <main>
            @Body
        </main>

    </div>
</div>
