@page "/simple-form"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavManager

<EditForm EditContext="@editContext" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <InputTest Label="Name" @bind-Value="person.Name" ValidationFor="@(() => person.Name)" />

    <InputTest Label="Email" @bind-Value="person.Email" ValidationFor="@(() => person.Email)" />

    <InputTest Label="Password" @bind-Value="person.Password" ValidationFor="@(() => person.Password)"
               type="password" />

    <button type="submit" class="btn btn-primary">Submit</button>

    <ValidationSummary />
</EditForm>

@code {
    private Person person = new Person();
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(person);
        base.OnInitialized();
    }

    public void HandleValidSubmit()
    {
        Console.WriteLine($"Name: {person.Name}");
        Console.WriteLine($"Email: {person.Email}");
        Console.WriteLine($"Password: {person.Password}");

        // Handle the valid form submission
        NavManager.NavigateTo("/");
    }

    public class Person
    {
        [Required(ErrorMessage = "Name is required")]
        [StringLength(maximumLength: 12, ErrorMessage = "Name must be less than 12 characters long")]
        [MinLength(4, ErrorMessage = "Name must be at least 4 characters long")]
        public string Name { get; set; } = string.Empty;

        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Invalid email address")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "Password is required")]
        [DataType(DataType.Password)]
        public string Password { get; set; } = string.Empty;
    }
}