@using BlogSphere.WebUI.Components.Shared.Enums
<button type="@ButtonTypeString"
        class="@CssClass"
        disabled="@Disabled"
        @onclick="HandleClick">
    @ChildContent
</button>

@code {
    [Parameter] public ButtonType type { get; set; } = ButtonType.Button;
    [Parameter] public ButtonVariant Variant { get; set; } = ButtonVariant.Primary;
    [Parameter] public Size Size { get; set; } = Size.md;
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public bool FullWidth { get; set; } = false;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private Dictionary<ButtonType, string> Types = new()
    {
        {ButtonType.Button, "button"},
        {ButtonType.Submit, "submit"},
        {ButtonType.Reset, "reset"}
    };

    private Dictionary<ButtonVariant, string> Variants = new()
    {
        {ButtonVariant.Primary, "primary"},
        {ButtonVariant.Secondary, "secondary"},
        {ButtonVariant.Danger, "danger"},
        {ButtonVariant.Ghost, "ghost"},
        {ButtonVariant.Outline, "outline"}
    };

    private string ButtonTypeString => Types[type];

    private string CssClass =>
        $"btn btn-{Variants[Variant]} btn-{Size.ToString().ToLower()} {(FullWidth ? "btn-full-width" : "")}";

    public async Task HandleClick()
    {
        await OnClick.InvokeAsync();   
    }
}
