
<div @onclick="HandleClick"  class="@CardClass" >
    @ChildContent
</div>

@code{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string ClassName { get; set; } = string.Empty;

    [Parameter]
    public bool Hoverable { get; set; } = false;


    private string CardClass =>
            $"card {(Hoverable ? "card-hoverable" : "")} {ClassName}";

    public async Task HandleClick()
    {
        await OnClick.InvokeAsync();
    }
}